*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #171823;
    --task-bg: #25273d;
    --text-color: #c8cbe7;
    --text-color-completed: #8c8ca2;
    --placeholder-color: #9495a5;
    --tasks-shadow: rgba(22, 22, 22, 0.769);
  }
}

body {
  margin: 0;
  text-align: center;
  color: var(--text-color-completed);
  background-color: var(--body-bg);
  font-family: 'Josefin Sans', sans-serif;
  user-select: none;
}

.header {
  height: 300px;
  padding: 54px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {

.header-content {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

}

.title {
  margin: 0;
  color: #fff;
}

.switch-theme {
  width: 20px;
  cursor: pointer;
}

.main {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.form {
  position: relative;
}

.label-task {
  position: absolute;
  top: 14px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--text-color-completed);
}

.input-task {
  height: 48px;
  width: 320px;
  padding-left: 56px;
  margin-bottom: 16px;
  color: var(--placeholder-color);
  background-color: var(--task-bg);
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 15px 15px -5px var(--tasks-shadow);
}

@media screen and (min-width: 768px) {
  .input-task {
    width: 540px;
  }
}

.tasks {
  border-radius: 6px 6px 0 0;
  color: #c8cbe7;
  background-color: var(--task-bg);
  color: var(--text-color);
  box-shadow: 0 65px 15px -5px var(--tasks-shadow);
}

/* AQUÍ VAN LOS ESTILOS DE LAS TAREAS */
.task-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 16px 20px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
  cursor: pointer;
}

.task-container:last-child {
  border-radius: 0;
}

.task-check {
  display: none;
}

.task-check:checked + .task-text {
  text-decoration: line-through;
  color: var(--text-color-completed);
}

.task-text {
  padding-left: 40px;
}

.task-text::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color-completed);
  border-radius: 50%;
}

.task-check:checked + .task-text::after {
  background-image:url('/docs/assets/images/icon-check.svg'), linear-gradient(45deg, #55ddff, #c058f3);
  background-repeat: no-repeat;
  background-size: 10px 8px, cover;
  background-position: center;
  border: none;
}

@media (hover: hover) {
  .task-container:hover .task-delete {
    display: block;
  }
}

.task-delete {
  width: 12px;
}

@media screen and (min-width: 768px) {
  .task-delete {
    display: none;
  }
}

.tasks-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 12px;
  background-color: var(--task-bg);
  margin-bottom: 16px;
  border-radius: 0 0 6px 6px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-bet;
  height: 48px;
  padding-inline: 81px;
  background-color: var(--task-bg);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .filters {
    position: absolute;
    bottom: 20px;
    width: 168px;
    transform: translateX(50%);
  }
}

.filter,
.button-delete {
  background: none;
  border: none;
  color: var(--text-color-completed);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.button-delete {
  font-size: 12px;
  font-weight: normal;
}

.filter-active {
  color: #3a7cfd;
}